<h1>Enroll</h1>
<h2>Email or Username Already Exists</h2>

<form action ="/signup0" method="POST">
  <p>
    <label for="email">Email:</label>
    <input type="text" name="email" id="email" />
  </p>
  <p>
    <label for="username">Username:</label>
    <input type="text" name="username" id="username" />
  </p>
  <p>
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" />
  </p>
  <input type="submit" />
</form>
<p>Or</p>
<a href="/login"><button type="button">Login</button></a>
