<h1>Enroll</h1>
<h2>An error has occured, please try again</h2>

<form action ="/signup0" method="POST">
  <p>
    <label for="email">Email:</label>
    <input type="text" name="email" id="email" />
  </p>
  <p>
    <label for="username">Username:</label>
    <input type="text" name="username" id="username" />
  </p>
  <p>
    <label for="password">Password:</label>
    <input type="text" name="password" id="password" />
  </p>

  <input type="submit" />

</form>
