<h1>NEW MOVE!</h1>

<form action="/moves/new" method="POST">
  <label> Start Position </label>
  <input type="text" name="start_position"> </br>

  <label> Type of Move </label>
  <input type="text" name="type_of_move"> </br>

  <label> Description </label>
  <input type="text" name="description"> </br>

  <input type="submit" value="Create">
</form>
